.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: azure;
  border-radius: 0.3rem;
  color: #000000;
  text-align: left;
  padding: 2rem;
  margin: 1rem 2rem;
  transition: 0.3s;
}

.item:hover {
  border-left: chartreuse 0.5rem solid;
}

.item:first-child {
  margin-top: 4rem;
}
