html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  text-align: center;
  font: 1.6rem Helvetica;
  color: #e0e0e0;
  height: 100vh;
  margin: 0;
  background-color: #2c2323;
}

a {
  text-decoration: none;
  color: #000000;
}

.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 4.5em;
  font-weight: 500;
}
